body {
    font-family: 'Sans-serif', Arial, sans-serif;
  }
  
  h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  form input,
  form textarea {
    background-color: #222;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
  }
  
  form input:focus,
  form textarea:focus {
    outline: none;
    border: 2px solid #ffffff;
  }
  /* Custom cursor style */
.custom-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, background-color 0.3s ease;
    z-index: 9999;
  }
  
  /* Larger cursor when hovering over links, buttons, or interactable elements */
  button:hover .custom-cursor,
  a:hover .custom-cursor,
  div:hover .custom-cursor {
    width: 30px;
    height: 30px;
    background-color: #ffffff; /* Blue color */
    transform: scale(1.2);
  }
  
  