/* .logo{
    background-color: rgb(79, 7, 99);
    color: aliceblue;
    border-radius: 50px;
    width: 100px;
    size-adjust: 5px;
}
ul{
    list-style: none;
    display: flex;
    gap: 25px;
    color: aliceblue;
    
}
.nav{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 10px;
      background-color: rgb(42, 6, 75);
} */